@model User

@{
    ViewData["Title"] = "الرئيسية";

}


<head>
    <script type="text/javascript">
        var map =
        [
            "&\#1632;", "&\#1633;", "&\#1634;", "&\#1635;", "&\#1636;",
            "&\#1637;", "&\#1638;", "&\#1639;", "&\#1640;", "&\#1641;"
        ];

        function getArabicNumbers(str) {
            var newStr = "";

            str = String(str);

            for (i = 0; i < str.length; i++) {
                newStr += map[parseInt(str.charAt(i))];
            }

            return newStr;
        }

        function AddCaloriesJS(id, amount) {
            $.ajax({
                url: 'Home/AddCaloriesApi?userId=' + id + '&amount=' + amount,
            }).done(function(response) {
                var caloriesLabel = document.getElementById('caloriesLabelText');
                caloriesLabel.innerHTML = parseInt(caloriesLabel.innerHTML) + parseInt(amount);
            });
        }

        function UpdateQuranUi(data) {
            var verseTextP = document.getElementById('verseText');
            verseTextP.innerHTML = data["verse"];

            var verseNameAndNumberP = document.getElementById('verseNameAndNumber');
            verseNameAndNumberP.innerHTML = data["surah"] + ' ' + getArabicNumbers(data["verseNum"]);

            var completeCongratsD = document.getElementById('completeCongrats');
            completeCongratsD.hidden = true;
        }

        function GetPreVerse(id) {
            $.ajax({
                url: 'Home/GetPreVerse?userId=' + id,
            }).done(function(response) {
                UpdateQuranUi(response);
            });
        }

        function GetNextVerse(id) {
            $.ajax({
                url: 'Home/GetNextVerse?userId=' + id,
            }).done(function(response) {
                UpdateQuranUi(response);

                if (response["verseNum"] === '1' && response["surah"] === 'الفاتحة') {
                    var completeCongratsD = document.getElementById('completeCongrats');
                    completeCongratsD.hidden = false;
                }
            });
        }

    </script>
</head>

<div class="text-center" dir="rtl">

    <div class="container mt-3">
        <div class="row">
            <h5 class="text-end text-info">
                اقرأ ما تيسر من القران
                <i class="bi bi-book"></i>
            </h5>
        </div>
        <div class="row">
            <p class="text-start text-secondary" id="verseNameAndNumber">
                @QuranHandler.ChapterName
                @QuranHandler.VerseID
            </p>
            <script type="text/javascript">
                window.onload = function() {
                    document.getElementById("verseNameAndNumber").innerHTML = "@QuranHandler.ChapterName " + getArabicNumbers(@QuranHandler.VerseID);
                }
            </script>
            <p class="text-center" id="verseText">
                @QuranHandler.SetAndGetVerse(Model.Preference.SurahId, Model.Preference.VerseId)
            </p>
        </div>
        <div class="row" dir="ltr">
            <div class="btn-group btn-group-sm" role="group">
                <a class="btn btn-outline-secondary" onclick="GetPreVerse('@Model.UserId');">
                    السابق
                </a>
                <a class="btn btn-outline-primary" onclick="GetNextVerse('@Model.UserId');">
                    التالي
                </a>
            </div>
        </div>

        <div class="row mt-1" hidden="" id="completeCongrats">
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>مبروك!</strong> على ختمك للقرآن.
            </div>
        </div>

            <br/>
        <br/>
        <div class="row">
            <h5 class="text-end text-info">
                جدول المهام اليومية
                <i class="bi bi-table"></i>
            </h5>
        </div>
        <form class="row" dir="ltr" method="post" asp-controller="Home" asp-action="AddDailyTask">
            <p>
                <div class="col-8">
                    <div class="input-group" role="grid">
                        <button class="btn btn-sm btn-outline-primary" dir="rtl" type="submit">
                            اضافة
                            <i class="bi bi-plus-lg"></i>
                        </button>
                        <input class="form-control form-control-sm" dir="rtl"
                               placeholder="ادخل الاسم" asp-for="TempData"/>
                    </div>
                </div>
                <div class="col-4">
                    @if (TempData["AddDailyTaskError"] != null)
                    {
                        <div class="alert alert-dismissible alert-danger small">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <strong>لا يمكن انشاء مهمة بدون اسم</strong>
                        </div>
                    }
                </div>
            </p>
        </form>

        <div class="row">
            <table class="table table-striped table-bordered">
                <tr class="table-primary">
                    <th width="45%">
                        الاسم
                        <i class="bi bi-info-circle"></i>
                    </th>
                    <th width="11%">
                        المتبقي
                        <i class="bi bi-hourglass-split"></i>
                    </th>
                    <th width="13%">
                        خيارات
                        <i class="bi bi-gear"></i>
                    </th>
                </tr>
                @foreach (var obj in Model.DailyTasks)
                {
                    <tr>
                        <td>
                            @obj.Name
                        </td>
                        <td>
                            @(Math.Round(24 - (DateTime.Now - obj.CreatedDate).TotalHours, 2))
                            ساعة
                        </td>
                        <td>
                            <div class="btn-group" role="group" dir="ltr">
                                <a class="btn btn-sm btn-outline-success"
                                   asp-controller="Home" asp-action="RemoveDailyTask" asp-route-taskId="@obj.TaskID">
                                    <i class="bi bi-check2-square"></i>
                                </a>
                                <a class="btn btn-sm btn-outline-secondary"
                                   asp-controller="Home" asp-action="DelayDailyTask" asp-route-taskId="@obj.TaskID">
                                    <i class="bi bi-stopwatch"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="row mt-2">
            <h5 class="text-end text-info">
                السعرات اليومية
                <i class="bi bi-fire"></i>
            </h5>
        </div>
        <div class="row mb-3">
            <label class="text-center text-primary" style="font-size: large;">
                <strong id="caloriesLabelText">@Model.Preference.CurrentCalories</strong>
            </label>
        </div>
        <div class="row">
            <div class="col-6 btn-group d-flex justify-content-center" role="group" dir="ltr">

                <a class="btn btn-outline-primary" dir="rtl" onclick="AddCaloriesJS('@Model.UserId', '450')">
                    +450
                </a>
                <a class="btn btn-outline-primary" dir="rtl" onclick="AddCaloriesJS('@Model.UserId', '150')">
                    +150
                </a>
                <a class="btn btn-outline-primary" dir="rtl" onclick="AddCaloriesJS('@Model.UserId', '50')">
                    +50
                </a>
            </div>
            <div class="col-6 btn-group d-flex justify-content-center" role="group" dir="ltr">
                <a class="btn btn-outline-secondary" dir="rtl" onclick="AddCaloriesJS('@Model.UserId', '-50')">
                    -50
                </a>
                <a class="btn btn-outline-secondary" dir="rtl" onclick="AddCaloriesJS('@Model.UserId', '-150')">
                    -150
                </a>
                <a class="btn btn-outline-secondary" dir="rtl" onclick="AddCaloriesJS('@Model.UserId', '-450')">
                    -450
                </a>
            </div>

        </div>

    </div>

</div>