@model User

@{
    ViewData["Title"] = "الرئيسية";

}


<div class="text-center" dir="rtl">
    <div class="container mt-3">
        <div class="row">
            <h5 class="text-end text-info">
                اقرأ ما تيسر من القران
                <i class="bi bi-book"></i>
            </h5>
        </div>
        <div class="row">
            <a class="text-start text-secondary" id="verseNameAndNumber"
               data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                
            </a>

            <p class="text-center" id="verseText">
                
            </p>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">تغيير السورة</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
                            id="offcanvasCloseButton"></button>
                </div>

                @* BODY *@
                <div class="offcanvas-body">
                    <div class="hstack gap-1">
                        <div class="col-12 btn-group-vertical" id="surahsNames">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" dir="ltr">
            <div class="btn-group btn-group-sm" role="group">
                <a class="btn btn-outline-secondary" onclick="changeVerse(-1);">
                    السابق
                </a>
                <a class="btn btn-outline-primary" onclick="changeVerse(1);">
                    التالي
                </a>
            </div>
        </div>

        <div class="row mt-1" hidden="" id="completeCongrats">
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>مبروك!</strong> على ختمك للقرآن.
            </div>
        </div>

        <br/>
        <br/>
        <div class="row">
            <h5 class="text-end text-info">
                جدول المهام اليومية
                <i class="bi bi-table"></i>
            </h5>
        </div>
        <form class="row" dir="ltr" method="post" asp-controller="Home" asp-action="AddDailyTask">
            <p>
                <div class="col-8">
                    <div class="input-group" role="grid">
                        <button class="btn btn-sm btn-outline-primary" dir="rtl" type="submit">
                            اضافة
                            <i class="bi bi-plus-lg"></i>
                        </button>
                        <input class="form-control form-control-sm" dir="rtl"
                               placeholder="ادخل الاسم" asp-for="TempData" autocomplete="off"/>
                    </div>
                </div>
                <div class="col-4">
                    @if (TempData["AddDailyTaskError"] != null)
                    {
                        <div class="alert alert-dismissible alert-danger small">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <strong>لا يمكن انشاء مهمة بدون اسم</strong>
                        </div>
                    }
                </div>
            </p>
        </form>

        <div class="row">
            <table class="table table-striped table-bordered">
                <tr class="table-primary">
                    <th width="45%">
                        الاسم
                        <i class="bi bi-info-circle"></i>
                    </th>
                    <th width="11%">
                        المتبقي
                        <i class="bi bi-hourglass-split"></i>
                    </th>
                    <th width="13%">
                        خيارات
                        <i class="bi bi-gear"></i>
                    </th>
                </tr>
                @foreach (var obj in Model.DailyTasks)
                {
                    <tr>
                        <td>
                            @obj.Name
                        </td>
                        <td>
                            @{ var timeLeft = new TimeSpan(0, 24, 0, 0) - (DateTime.Now - obj.CreatedDate);}
                            @(timeLeft.ToString(@"hh\:mm"))
                            ساعة
                        </td>
                        <td>
                            <div class="btn-group" role="group" dir="ltr">
                                <a class="btn btn-sm btn-outline-success"
                                   asp-controller="Home" asp-action="RemoveDailyTask" asp-route-taskId="@obj.TaskID">
                                    <i class="bi bi-check2-square"></i>
                                </a>
                                <a class="btn btn-sm btn-outline-secondary"
                                   asp-controller="Home" asp-action="DelayDailyTask" asp-route-taskId="@obj.TaskID">
                                    <i class="bi bi-stopwatch"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="row mt-2">
            <h5 class="text-end text-info">
                السعرات اليومية
                <i class="bi bi-fire"></i>
            </h5>
        </div>
        <div class="row mb-3">
            <label class="text-center text-primary" style="font-size: large;">
                <strong id="caloriesLabelText">@Model.Preference.CurrentCalories</strong>
            </label>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="number" min="0" max="2000" class="form-control" id="caloriesChangeInput"/>
            </div>
            <div class="col-6 btn-group" dir="ltr">

                <a class="btn btn-outline-primary" onclick="AddCaloriesJS(1)">
                    ➕
                </a>
                <a class="btn btn-outline-primary" onclick="AddCaloriesJS(-1)">
                    ➖
                </a>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/quran.js"></script>
    <script type="text/javascript">
        var map =
        [
            "&\#1632;", "&\#1633;", "&\#1634;", "&\#1635;", "&\#1636;",
            "&\#1637;", "&\#1638;", "&\#1639;", "&\#1640;", "&\#1641;"
        ];

        function getArabicNumbers(str) {
            var newStr = "";

            str = String(str);

            for (i = 0; i < str.length; i++) {
                newStr += map[parseInt(str.charAt(i))];
            }

            return newStr;
        }

        function AddCaloriesJS(direction) {

            const caloriesLabel = document.getElementById('caloriesLabelText');

            const amount = document.getElementById('caloriesChangeInput').value * direction;

            $.ajax({
                url: 'Home/AddCaloriesApi',
                method: 'POST',
                data: {
                    'userId': '@Model.UserId',
                    'amount': amount
                }
            }).done(function(response) {
                if (response) {
                    caloriesLabel.innerHTML = parseInt(caloriesLabel.innerHTML) + parseInt(amount);
                }
            });
        }

        function UpdateQuranUi(data) {
            var verseTextP = document.getElementById('verseText');
            verseTextP.innerHTML = data["verse"];

            var verseNameAndNumberP = document.getElementById('verseNameAndNumber');
            verseNameAndNumberP.innerHTML = data["surah"] + ' ' + getArabicNumbers(data["verseNum"]);

            var completeCongratsD = document.getElementById('completeCongrats');
            completeCongratsD.hidden = true;
        }

        var fullQuranXml = getFullQuranAsString();

        var parser = new DOMParser();
        var xmlDoc = parser.parseFromString(fullQuranXml, "text/xml");

        function getVerseData(verseNumber) {

            verseNumber--;

            var verseNode = xmlDoc.getElementsByTagName("Verse")[verseNumber];

            var dict = {
                "text": verseNode.childNodes[0].nodeValue,
                "verseInChapterId": verseNode.attributes.getNamedItem("VerseID").nodeValue,
                "chapterName": verseNode.parentElement.attributes.getNamedItem("ChapterName").nodeValue,
                "chapterId": verseNode.parentElement.attributes.getNamedItem("ChapterID").nodeValue
            }
            return dict;
        }

        var currentVerseNumber = @Model.Preference.VerseId;
        var nameNumberP, verseTextP;

        function changeVerse(direction) {

            currentVerseNumber += direction;

            if (currentVerseNumber > 6236) {
                currentVerseNumber = 1;
                document.getElementById('completeCongrats').hidden = false;
            } else if (currentVerseNumber < 1) {
                currentVerseNumber = 6236;
            } else {
                document.getElementById('completeCongrats').hidden = true;
            }

            updateQuranText();
            $.ajax({
                url: '@Url.Action("UpdateUserQuranApi", "Home")',
                data: {
                    'userId': '@Model.UserId',
                    'verseId': currentVerseNumber
                }
            }).done(function(response) {

            });
        }

        function updateQuranText() {
            nameNumberP = document.getElementById("verseNameAndNumber");
            verseTextP = document.getElementById("verseText");

            var verse = getVerseData(currentVerseNumber);

            nameNumberP.innerHTML = verse["chapterName"] + ' ' + getArabicNumbers(verse["verseInChapterId"]);
            verseTextP.innerHTML = verse["text"];
        }

        window.onload = function() {
            updateQuranText();

            surahsNames = document.getElementById('surahsNames');
            versesNums = document.getElementById('versesNums');

            const surahs = xmlDoc.getElementsByTagName("Chapter");

            for (let i = 0; i < 114; i++) {
                const name = surahs[i].attributes.getNamedItem('ChapterName').nodeValue;

                const versesNum = surahs[i].childNodes.length;

                const btn = document.createElement('button');
                btn.type = 'button';
                btn.classList = 'btn btn-outline-primary';
                btn.innerHTML = name;

                btn.onclick = function() {
                    let index = 1;
                    for (let j = i - 1; j >= 0; j--) {
                        index += surahs[j].childNodes.length;
                    }
                    changeVerse(index - currentVerseNumber);

                    document.getElementById("offcanvasCloseButton").click();

                };

                surahsNames.appendChild(btn);
            }
        }

    </script>
}
